---
---

@import "minima";

/* 
   Landing page header image
*/
.landing-header {
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url('/assets/img/landing-background-farmer.jpeg');
    background-size: cover;
    background-position: center;
    //height: 100vh;
    width: 100%;
    height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-header-text {
    color: white;
    text-align: center;
}

/*
  Landing key takeaways
*/
.landing-card {
    padding: 16px;
}


/**
  Team page
*/

.team-image {
    height: 40vh;

    display: block;
    margin: auto;
    border-radius: 3px;
}

/**
   Shared
*/

.youtube-iframe {
    display: block;
    margin: auto;
    width: 600px;
    height: 300px;
}

@media only screen and (max-width: 600px) {
    .youtube-iframe {
        width: 100%;
        height: auto;
    }
}
